<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Первый учитель</title>

    <!-- Bootstrap styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Custom styles -->
    <link href="/static/style.css" rel="stylesheet">
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <!-- Axios.js -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>

<body>
    <!-- Header -->
    <div class="container">
        <header class="bg-primary text-center py-3">
            <h1 class="text-white">Первый Учитель, выбери тему!</h1>
        </header>
    </div>

    {% verbatim %}
    <!-- Content block -->
    <div class="container" id="tickets">
        <div class="row">
            <div class="col-sm-3 mb-4" v-for="ticket in tickets" :key="ticket.id">
                <div class="card">
                    <div class="card-header"> {{ ticket.id }}</div>
                    <div class="card-body">
                        <p class="card-text">{{ ticket.topic }} </p>
                        <button :id="'b-' + ticket.id" onclick="onClick()" class="btn btn-primary">Выбрать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endverbatim %}


    {% block content %}

    {% endblock content %}

    <!--  -->
    <script>
        function onClick() {
            const chosen_ticket_id = event.target.id.replace('b-', '');
            console.log(chosen_ticket_id);
            const personal = document.location.search.replace('?', '');
            console.log(personal);


            async function test() {
                await axios.get('/participants/api/makechoice?cfl=' + personal + '&tid=' + chosen_ticket_id)
                    .then(function (response) {
                        console.log(response.data)
                    });
                };
            test();
            location.reload();
        }

    </script>


    <!-- Bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

    <script src="/static/app.js"></script>
    <script src="/static/logic.js"></script>
</body>

</html>