<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Первый учитель</title>
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <script src="https://unpkg.com/vue@2.6.14"></script>
</head>
<body>
<div id="app">
  <header class="bg-primary text-center py-3">
    <h1 class="text-white">Первый учитель</h1>
  </header>
  <div class="container mt-3">
    <div class="container">
<!--       <button class="btn btn-info" @click="showModal">show modal</button>
      <example-modal ref="modal"></example-modal> -->
    </div>
    <div>
      <div class="text-center" v-if="chosenTopic">
        <svg xmlns="http://www.w3.org/2000/svg" fill="green" viewBox="0 0 24 24" width="100px" height="100px">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z"/>
        </svg>
        <h3>Вы выбрали тему: {{ chosenTopic.name }}</h3>
        <p>Вопрос: {{ chosenTopic.description }}</p>
      </div>
      <h2 class="text-center my-4">Выберите тему</h2>
      <div class="row">
        <div class="col-sm-3 mb-4" v-for="topic in topics" :key="topic.id" v-if="topic.available">
          <div class="card">
            <div class="card-header">{{ topic.name }}</div>
            <div class="card-body">
              <p class="card-text">{{ topic.description }}</p>
              <button @click="() => { showModal(); selectTopic(topic); }" class="btn btn-primary">Выбрать</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!--  <footer class="bg-light text-center fixed-bottom py-3 mt-3">-->
<!--    <p>2023</p>-->
<!--  </footer>-->

  <!-- Modal -->
  <div v-if="isModalVisible" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Подтвердите ваш выбор</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Выбрать тему: {{ chosenTopic.name }}?</h3>
            <p>Вопрос: {{ chosenTopic.description }}</p>
        </div>
        <div class="modal-footer">
          <button @click="cancelTopic()" type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
          <button @click="confirmTopic()" type="button" class="btn btn-primary">Подтвердить</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="scripts/vue.js"></script>
<script src="scripts/code.jquery.com_jquery-3.7.0.min.js"></script>
<script src="scripts/jquery-ui.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script src="scripts/main4.js"></script>
</body>
</html>
