{% extends "base.html" %}

{% block content %}
<!-- Header -->
<div class="container">
    <header class="bg-primary text-center py-3">
        <h2 class="text-white">Первый Учитель, выбери тему!</h2>
    </header>
</div>

{% verbatim %}
<!-- Content block -->
<div class="container" id="tickets">
    <div class="row">
        <div class="col-sm-3 mb-4" v-for="ticket in tickets" :key="ticket.id">
            <div class="card">
                <div class="card-header"> {{ ticket.id }}</div>
                <div class="card-body">
                    <p class="card-text">{{ ticket.topic }} </p>

                    <button :id="'b-' + ticket.id" onclick="onClick()" class="btn btn-primary">Выбрать</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endverbatim %}

<div class="mx-auto" style="width: 80%; text-align: center;">
    <hr />
    <button onclick="location.href='/participants/all';" class="btn btn-primary">Посмотреть итоги</button>

</div>

<script src="/static/app.js"></script>
<script src="/static/main.js"></script>

{% endblock content %}