{% extends "base.html" %}

{% block content %}
<!-- Header -->
<div class="container">
    <header class="bg-primary text-center py-3">
        <h2 class="text-white">Первый Учитель, выбери тему!</h2>
    </header>
</div>

{% verbatim %}
<!-- Content block -->
<div class="container" id="tickets">
    <div class="row">
        <div class="col-sm-3 mb-4" v-for="ticket in tickets" :key="ticket.id">
            <div class="card">
                <div class="card-header"> {{ ticket.id }}</div>
                <div class="card-body">
                    <p class="card-text">{{ ticket.topic }} </p>

                    <button :id="'b-' + ticket.id" onclick="onClick()" class="btn btn-primary">Выбрать</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endverbatim %}


<script src="/static/app.js"></script>




<!--  -->
<script>
    function onClick() {

        const chosen_ticket_id = event.target.id.replace('b-', '');
        console.log(chosen_ticket_id);
        const personal = document.location.search.replace('?', '');
        console.log(personal);

        async function make_patch() {
            const headers = { "X-CSRFTOKEN": "G9GOA4MV7GKfYjYS8mLXwUXICJswYWUW" }
            await axios({
                 method: 'patch',
                 url: 'http://127.0.0.1:8000/tickets/api/changeticket/' + chosen_ticket_id + '/',
                 data: {
                     "participant_cfl": personal,
                     "is_available": 0
                     },
                     headers: headers
                 })
                 .then(function (response) {
                     console.log(response.data)
                 });
        };
        make_patch();

        location.href = '/tickets/confirmation';
    }

</script>


{% endblock content %}